div > #canvas {
    text-align:center;
    margin: auto;
}

#mainCanvas {
    border-style: solid;
    cursor:crosshair;
}

input {
    text-align:center;
}

/* Toolbar inputs get 100px width per span */

.toolbar-desc {
    color: grey;
    font-weight: 900;
    font-size: 150%;
}

#fancy-color-preview {
    width: 35px;
    height: 35px;
    border-style: solid;
}

.form-control {
    min-width: 50px;
}
