div > #canvas {
    text-align:center;
    margin: auto;
}

#mainCanvas {
    cursor:crosshair;
}

.canvas {
    margin-top: 50px;
}

input {
    text-align:center;
}

/* Toolbar inputs get 100px width per span */


#fancy-color-preview {
    width: 35px;
    height: 35px;
    border-style: solid;
}

.inputbox {
    padding: 2px;

}

.navbar-container {
    margin-left: 0px;

}

.navbar-header {
    text-align: center;
    width: 16.66666667%;
}
