.body-like {
    padding-top: 65px;
    background-color: purple;
    width: 100vw;
    height: 100vh;
}

.cell-like {
    margin-bottom: 50px;
}

.card-like-panel {
    background-color: white;
    border-radius: 25px;
    height: 25vh;
}

.one-panel {
    font-size: 250%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.add-panel {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
}

.col-lg-12 {
    background-color: white;
}
